<div
  class="bg-gov-primary text-white px-4 py-5 border-b border-gov-divider relative group antialiased"
>
  <!-- HEADER -->
  <div class="flex justify-center mb-4">
    <a href="/sicad/home">
      <img
        src="/sicad/assets/images/string.svg"
        alt="String tecnologia"
        class="max-w-[170px] h-auto cursor-pointer"
      />
    </a>
  </div>

 <!-- AVATAR -->
<div class="flex justify-center mb-2">

  <div
    class="relative cursor-pointer group"
    (click)="selecionarAvatar.click()"
  >

    @if (perfilSelecionado()?.avatar) {

      <p-avatar
        [image]="perfilSelecionado()?.avatar"
        shape="circle"
        size="large"
        styleClass="shadow-md !w-16 !h-16"
      />

    } @else {

      <p-avatar
        [label]="iniciais"
        shape="circle"
        size="large"
        styleClass="bg-teal-500 text-white shadow-md !w-16 !h-16"
      />

    }

    <div
      class="absolute inset-0 rounded-full bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center"
    >
      <i class="pi pi-camera text-white"></i>
    </div>

    <input
      #selecionarAvatar
      type="file"
      accept="image/*"
      class="hidden"
      (change)="onAvatarSelecionado($event)"
    />

  </div>

</div>

  <!-- PERFIL -->
  @if (perfilSelecionado(); as user) {
  <div class="text-center mb-2 leading-tight">
    <p class="text-sm font-semibold">{{ user.name }}</p>

    <p class="text-xs text-white/80">{{ user.username }}</p>

    <p class="text-xs text-white/60 truncate">{{ user.email }}</p>

    <p class="text-xs text-white/60 truncate">{{ user.avatar}}</p>
  </div>
  }

  <!-- BOTÃO CONFIG (aparece no hover) -->
  <div class="flex justify-center h-6 mb-1">
    <p-button
      icon="pi pi-cog"
      rounded
      text
      size="small"
      severity="secondary"
      styleClass="invisible group-hover:visible"
      (onClick)="toggleConfig()"
    />
  </div>

  <!-- AÇÕES -->
  <div
    class="overflow-hidden transition-all duration-300"
    [class.max-h-0]="!configOpen"
    [class.max-h-28]="configOpen"
  >
    <div class="space-y-1 text-xs">
      <p-button
        label="Sair"
        icon="pi pi-sign-out"
        styleClass="w-full justify-start"
        severity="secondary"
        text
        size="small"
        (onClick)="logout.emit()"
      />

      <p-button
        label="Alterar Vínculo"
        icon="pi pi-refresh"
        styleClass="w-full justify-start"
        severity="secondary"
        text
        size="small"
        (onClick)="changeVinculo.emit()"
      />
    </div>
  </div>
</div>
