<div class="bg-transparent text-white">

  <!-- LOGO -->
  <div class="flex justify-center pt-1 pb-0">
    <a href="/home">
      <img
        src="/assets/images/string2.png"
        alt="String Tecnologia"
        class="w-40 h-auto"
      />
    </a>
  </div>

  <!-- AVATAR -->
  <div class="flex justify-center -mt-2 mb-3">

    <div
      class="relative cursor-pointer group"
      (click)="selecionarAvatar.click()"
    >

      @if (perfilSelecionado()?.avatar) {

        <p-avatar
          [image]="perfilSelecionado()?.avatar"
          shape="circle"
          size="large"
          styleClass="
            !w-20
            !h-20
            border-2
            border-cyan-400/30
            shadow-[0_0_20px_rgba(56,189,248,0.25)]
          "
        />

      } @else {

        <p-avatar
          [label]="iniciais"
          shape="circle"
          size="large"
          styleClass="
            bg-cyan-600
            text-white
            !w-20
            !h-20
            border-2
            border-cyan-400/30
            shadow-[0_0_20px_rgba(56,189,248,0.25)]
          "
        />

      }

      <div
        class="absolute inset-0 rounded-full bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity flex items-center justify-center"
      >
        <i class="pi pi-camera text-white text-lg"></i>
      </div>

      <input
        #selecionarAvatar
        type="file"
        accept="image/*"
        class="hidden"
        (change)="onAvatarSelecionado($event)"
      />

    </div>

  </div>

  <!-- PERFIL -->
  @if (perfilSelecionado(); as user) {

    <div class="text-center px-4">

      <p class="text-2xl font-bold tracking-wide">
        {{ user.name }}
      </p>

      <p class="text-xs text-white/60 mt-3">
        {{ user.email }}
      </p>

    </div>

  }

  <!-- SEPARADOR -->
  <div class="mx-5 my-5 border-t border-white/10"></div>

  <!-- AÇÕES -->
 <div class="mt-4 px-4">

<p-button
  label="Sair"
  icon="pi pi-sign-out"
  severity="danger"
  outlined
  styleClass="w-full"
  (click)="logout.emit()"
/>

</div>

</div>