
<section class="content">
  <h2>Home</h2>

  <!-- AÇÃO DA PÁGINA -->
  <div class="actions">
    <button
      class="btn-primary"
      routerLink="/users/cadastrar">
      Cadastrar Usuário
    </button>
  </div>

  <div class="actions">
    <button
      class="btn-primary"
      routerLink="/users">
      Listar Usuário
    </button>
  </div>

  <div class="actions">
  <button
    class="btn-primary"
    (click)="gerarPdf()">
    Gerar PDF
  </button>
</div>

<div class="actions">
  <button
    class="btn-primary"
    (click)="gerarPdfTeste()">
    Gerar PDF teste
  </button>
</div>

  <p>Component home works!</p>

<div class="dashboard-grid">

  <app-dashboard-metrica
    [aparelhosProntos]="125"
    [aparelhosNaoAutorizados]="18"
    [aparelhosDevolvidos]="42">
  </app-dashboard-metrica>

  <app-dashboard-metrica
    [aparelhosProntos]="80"
    [aparelhosNaoAutorizados]="12"
    [aparelhosDevolvidos]="20">
  </app-dashboard-metrica>

  <app-dashboard-metrica
    [aparelhosProntos]="150"
    [aparelhosNaoAutorizados]="30"
    [aparelhosDevolvidos]="10">
  </app-dashboard-metrica>

</div>


</section>
