<section class="dashboard-page">

  <header class="dashboard-header">

    <div class="dashboard-title">

      <h1>
        Painel de Métricas de Ordens de Serviço
      </h1>

      <p>
        Visão consolidada das ordens de serviço por período
      </p>

    </div>


    <div class="dashboard-actions">

      <button
        type="button"
        class="btn-secondary"
        routerLink="/cliente">
        Cadastrar Cliente
      </button>

      <button
        type="button"
        class="btn-secondary"
         routerLink="/cliente">
        Listar Usuário
      </button>

    </div>

  </header>


  @if (carregandoMetricas) {

    <div class="dashboard-loading">

      <span class="spinner"></span>

      <span>
        Carregando métricas...
      </span>

    </div>

  } @else if (erroMetricas) {

    <div class="dashboard-error">

      <span>
        {{ erroMetricas }}
      </span>

      <button
        type="button"
        (click)="carregarMetricas()">
        Tentar novamente
      </button>

    </div>

  } @else if (metricas; as dados) {

    <div class="dashboard-grid">


      <!-- ÚLTIMA SEMANA -->

      <app-dashboard-metrica
        titulo="Última semana"
        [subtitulo]="
          'Segunda a sábado • ' +
          formatarPeriodo(dados.semana)
        "
        [abertas]="dados.semana.abertas"
        [autorizadas]="dados.semana.autorizadas"
        [entregues]="dados.semana.entregues"
        [naoAutorizadas]="dados.semana.naoAutorizadas">
      </app-dashboard-metrica>


      <!-- ÚLTIMOS 30 DIAS -->

      <app-dashboard-metrica
        titulo="Últimos 30 dias"
        [subtitulo]="
          formatarPeriodo(dados.trintaDias)
        "
        [abertas]="dados.trintaDias.abertas"
        [autorizadas]="dados.trintaDias.autorizadas"
        [entregues]="dados.trintaDias.entregues"
        [naoAutorizadas]="dados.trintaDias.naoAutorizadas">
      </app-dashboard-metrica>


      <!-- ÚLTIMOS 365 DIAS -->

      <app-dashboard-metrica
        titulo="Últimos 365 dias"
        [subtitulo]="
          formatarPeriodo(dados.ano)
        "
        [abertas]="dados.ano.abertas"
        [autorizadas]="dados.ano.autorizadas"
        [entregues]="dados.ano.entregues"
        [naoAutorizadas]="dados.ano.naoAutorizadas">
      </app-dashboard-metrica>

            <!-- ENTREGUES NOS ÚLTIMOS 6 DIAS -->

            <app-dashboard-metrica
            titulo="Entregues nos últimos 6 dias"
            [subtitulo]="formatarPeriodo(dados.entreguesSeisDias)"
            [somenteEntregues]="true"
            [entregues]="dados.entreguesSeisDias.entregues">
          </app-dashboard-metrica>


    </div>

  }

</section>
