.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255,255,255,.20) transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background: linear-gradient(
    180deg,
    rgba(56,189,248,.6),
    rgba(37,99,235,.6)
  );
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(103,232,249,.9),
    rgba(59,130,246,.9)
  );
}